html{
    font-size: 10px;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right,#CDF5FD, #5FBDFF);
}

.search{
    position: relative;
    bottom: 20rem;
    height: 5rem;
    width: 30rem;
    border: solid black .2rem;
    background-color: transparent;
    font-size: 4rem;
    box-shadow: 1rem 1rem .5rem .5rem #A0E9FF;
}

.contenuto{
    color: #FFF6E9;
}

.uno{
    font-size: 7rem;
}

.ok{
    position: relative;
    bottom: 21.5rem;
    left: 5rem;
    height: 5rem;
    width: 11rem;
    font-size: 3rem;
    background-color: #FFEEAF;
    border-color: #FFEEAF;
}

.temperatura00{
    opacity: 0;
    font-size: 0;
    width: 0;
    height: 0;
}

.ok:hover{
    background-color: #74E291;
    border-color: #74E291;
}
